@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


/* App.css */

.montserrat-regular {
    font-family: "Montserrat", sans-serif;
    font-weight: 400; /* peso regular */
    font-style: normal;
  }
  
  .montserrat-bold {
    font-family: "Montserrat", sans-serif;
    font-weight: 700; /* peso negrito */
    font-style: normal;
  }
  
  .montserrat-light {
    font-family: "Montserrat", sans-serif;
    font-weight: 300; /* peso leve */
    font-style: normal;
  }
  
  .montserrat-italic {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-style: italic; /* estilo itálico */
  }
  

body{
  min-height: 100vh;
}